TXT record types should properly format the data value

DNS TXT records have specific formatting requirements.
1. per [RFC1035 section 3.3.14](https://tools.ietf.org/html/rfc1035#section-3.3.14), they are composed of one *or more* character strings.
2. per [RFC1035 section 3.3](https://tools.ietf.org/html/rfc1035#section-3.3), each character string can be up to 255 characters (section 3.3 indicates 256 octets, but includes the length octet as part of that count).
3. per common usage, if a TXT record consists of multiple character strings, the application processing that record concatenates the character strings together with no intervening characters.
4. per [RFC1035 section 5](https://tools.ietf.org/html/rfc1035#section-5), if a character string includes spaces, it must be enclosed in double-quotes (`"`).  Within the double-quotes, any character can occur except another double-quote; double-quotes must be escaped by backslashes (`\`) (and by implication, backslashes must also be escaped by backslashes).

Based on these requirements, the `dns::record::txt` record type should:
1. split the `$data` value up into 255 (at most) character chunks.
2. escape all double-quotes and backslashes within each chunk by inserting a backslash before the escaped character.
3. surround each chunk with double-quotes.
4. separate the chunks by a space.

For example:

    dns::record::txt { 'txt1.example.com':
        host => "txt1' ,
        zone => 'example.com' ,
        data => 'test "number one"' ,
    }

should result in the following `dns::record` resource:

    dns::record { 'txt1.example.com,TXT,example.com':
        zone   => 'example.com' ,
        host   => 'txt1' ,
        ttl    => '' ,
        record => 'TXT' ,
        data   => '"test \"number one\""'
    }

And a text record with a very long data value ('this is a very _(x60)_ long test') should result in something like...

    dns::record { 'txt2.example.com,TXT,example.com':
        zone   => 'example.com' ,
        host   => 'txt2' ,
        ttl    => '' ,
        record => 'TXT' ,
        data   => '"this is a very very very…very " "very very very very very very very very very very very long test"'
    }

I will submit a PR for this shortly.

This issue can be closed with the merging of #171 .